div.shell-panel([attr.shellId]='shell.id', id='shell-panel{{shell.id}}')
    div
        | Type 
        code help
        |  or hit 
        code TAB
        |  for a list of commands.
    div.shell-view(id='shell-view{{shell.id}}')
        div.shell-cli(id='shell-cli{{shell.id}}')
            span.prompt [1] $
            span.input
                span.left
                span.cursor  
                span.right