div.terminal.modal([attr.terminalId]='terminal.id', (click)='activate()', [ngClass]='{in: terminal.isOpen}', tabindex='-1', role='dialog', data-backdrop='false')
    .modal-dialog(role='document')
      .modal-content
        .modal-header Terminal {{terminal.id}} {{connection.device.name}}
          button.close(type='button', data-dismiss='modal', aria-label='Close', (click)='close()')
            span(aria-hidden='true') ×
          h4.modal-title 
        .modal-body
          div.terminal-window
            div.explorer(*ngIf='isExplorerTabActive()')
              div.disk-item(*ngFor='let diskItem of connection.currentDirectory.children')
                div(class='disk-item-icon {{diskItem.constructor.name}}')
                span.disk-item-name {{diskItem.name}}  
            div.file-viewer(*ngIf='isFileTabActive()')
              div.file-content {{openFile.content}}
        .modal-footer
          div.shell-panel(id='shell-panel{{terminal.id}}')
            div
                | Type 
                code help
                |  or hit 
                code TAB
                |  for a list of commands.
            div.shell-view(id='shell-view{{terminal.id}}')
                div.shell-cli(id='shell-cli{{terminal.id}}')
                    span.prompt [1] $
                    span.input
                        span.left
                        span.cursor  
                        span.right