body{
    font-family: 'Source Code Pro';
}

.modal {
    width: 600px;
    left:20%;
}

.terminal .modal-footer label{
    float:left;
    padding-right:5px;
    color:green;
}

.commandLine{
    float:left;
    width:550px;
    color:white;
    background-color:inherit;
    border:none;
}

.commandLine:focus{
    outline:none;
}

.map{
    width:100%;
}

#terminal-button{
    width:75px;
    position:fixed;
    bottom:10px;
    right:10px;
}

#terminal-button img{
    width:100%;
}

.modal.in{
    display:block;
}

#log{
    padding:2em;
}

#log p{
    margin:0px;
    color:#00fe00;
}

.modal-header, .modal-footer{
    padding:5px
}

 .shell-panel {
      height: 200px;
      width: 100%;
      color: #00fe00;
      padding: 20px 20px 20px 20px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: hidden;
}

.shell-cli .prompt {
      font-weight: bold;
}

.terminal .modal-footer{
    text-align:left;
}

.terminal{
    z-index:998;
}

.terminal.active{
    z-index:999;
}

.terminal .modal-content{
    border-radius:0px;
}

.disk-item{
    display:inline-block;
    font-size:0.9em;
    text-align:center;
    padding:5px;
    color:white;
}

.disk-item-icon{
    width:80px;
    margin:0 auto;
    height:80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

.disk-item-icon.Directory{
    background-image:url("../icons/folder.png");
}

.disk-item-icon.File, .disk-item-icon.TextFile{
    background-image:url("../icons/file.png");
}

.disk-item-icon.MailBox{
    background-image:url("../icons/e-mail.png");
}

.disk-item-icon.Database{
    background-image:url("../icons/MyNetwork.png");
}

.terminal-window{
    height:350px;
}

.file-viewer{
    color: #00fe00;
}

div.map{
    background-image:url("../demo/map.png");
    height: 350px;
}

div.map-pointer{
    width:100px;
    height:100px;
    background-image:url("../images/target.png");
    background-size: 100px 100px;
    display:inline-block;
    position:relative;
    top:125px;
    left:25px;
}

div.location-description, div.location-devices{
    color:white;
    opacity:0.8;
    margin:5px;
    display:inline-block;
    width:200px;
    padding:5px;
    clear:both;
    float:left;
    position:relative;
    margin-bottom:0px;
}

div.location-description p, div.location-devices p{
    margin:0px;
}

.loading-mask{
    position:absolute;
    background-color:black;
    height:350px;
    width:560px;
    opacity:0.4;
    z-index:998;
}

.loading-image{
    position:absolute;
    border:5px solid silver;
    border-radius:10px;
    height:200px;
    width:400px;
    margin:80px 80px;
    background-image: url("../images/loading.gif");
    background-size: 400px 200px;
    z-index:999;
}

td.conversation-time{
    width:150px;
}

span.message-text{
    width:100%;
    display:inline-block;
    color:white;
}

span.message-time{
    float:right;
    font-size:0.7em;
    color:silver;
}

span.message-author{
    font-size:0.7em;
}